@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "seto";
  src: url("/fonts/濑户字体SetoFont.ttf");
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f9f9ff;
  background-image: url("/images/bg2.png");
  color: #333;
  font-family: "Noto Sans TC";
  position: relative;
  overflow-x: hidden;
}
body .cover {
  position: fixed;
  height: 100vh;
  inset: 0;
  background-image: url("/images/01_irasutoya.png");
  background-position: center;
  filter: brightness(0.5);
  opacity: 0;
  z-index: -1;
}
body .cover.active {
  animation: show 0.5s ease-in-out both;
  z-index: 5;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px #eee;
  background-color: white;
  flex-wrap: wrap;
  z-index: 4;
  position: relative;
  padding: 8px 0;
}
@media (max-width: 390px) {
  body header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
    gap: 0;
  }
  body header img {
    margin-right: 18px;
  }
}
body header img {
  max-width: 240px;
}
body header nav {
  padding: 0px 12px;
}
body header nav a {
  display: inline-block;
  padding: 8px 24px;
  font-size: 1.2rem;
  transition: all 1.2s ease-in-out;
  border-radius: 50px;
}
body header nav a:hover {
  background-color: #333;
  color: white;
  border-radius: 50px;
}
body .decorate-bg {
  position: absolute;
  width: 100%;
  aspect-ratio: 3/1.2;
  background-color: rgb(85, 170, 166);
  top: 100px;
  -webkit-mask: url("/images/hero_mask2.png");
  mask: url("/images/hero_mask2.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  filter: opacity(25%);
}
body .hero {
  width: 100%;
  aspect-ratio: 3/1.2;
  background-color: transparent;
  position: relative;
  overflow: visible;
}
@media (max-width: 768px) {
  body .hero {
    aspect-ratio: 1.653/1;
  }
}
body .hero .bg-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/images/33140827_m.jpg");
  background-size: cover;
  background-position: center -120px;
  -webkit-mask: url("/images/hero_mask2.png");
  mask: url("/images/hero_mask2.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  z-index: 1;
}
@media (max-width: 768px) {
  body .hero .bg-cover {
    -webkit-mask: url("/images/hero_mask3.png");
    mask: url("/images/hero_mask3.png");
    background-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
}
body .hero .header-content {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}
body .hero .header-content .left {
  width: 76px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
body .hero .header-content .left.active {
  opacity: 1;
  transform: none;
}
body .hero .header-content .left .extend-aside {
  width: 100%;
  height: 45%;
  background-image: url("/images/bulletin-board-bg.jpg");
  border-top-right-radius: 24px;
}
body .hero .header-content .right {
  flex: 1;
}
body .hero .right {
  padding: 40px;
  font-family: "seto";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
}
body .hero .right h1,
body .hero .right span {
  font-weight: 200;
  width: -moz-fit-content;
  width: fit-content;
  color: #161616;
  padding: 12px 0px;
}
body .hero .right h1 {
  font-size: clamp(36px, 5vw, 80px);
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 768px) {
  body .hero .right h1 {
    padding: 8px;
  }
}
body .hero .right p {
  font-size: clamp(16px, 2vw, 24px);
  display: flex;
  justify-content: flex-end;
  padding: 0 12px;
  background-color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 768px) {
  body .hero .right p {
    background-color: transparent;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
    gap: 8px;
  }
  body .hero .right p span {
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
body .quick-access {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 1.28/1;
  margin: 40px auto -120px;
  z-index: 2;
  position: relative;
}
body .quick-access p {
  text-align: center;
  font-family: "seto";
  font-size: 28px;
  background-color: #fff;
  padding: 4px 8px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  margin: 0 auto;
  transform: rotate(-8deg) translateY(10px);
}
@media (max-width: 768px) {
  body .quick-access p {
    transform: none;
    margin: 46px auto 0px;
  }
}
body .quick-access .clip-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/ichimatsu-pattern-29.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  -webkit-mask-image: url("../images/test_mask.png");
          mask-image: url("../images/test_mask.png");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
body .quick-access .content {
  position: relative;
  z-index: 3;
  padding: 40px 80px;
  transform: rotate(-8deg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  gap: 12px;
  flex-wrap: wrap;
}
body .quick-access .content img {
  width: 80px;
  filter: brightness(100%);
  border: 1px solid #c5c3c3;
}
body .quick-access .content img:hover {
  filter: brightness(80%);
}
@media (max-width: 1200px) {
  body .quick-access .content {
    padding: 40px 60px;
  }
}
@media (max-width: 768px) {
  body .quick-access .content {
    transform: none;
    padding: 0px 0px 40px 36px;
  }
}
body main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  position: relative;
}
body main aside {
  width: 76px;
  height: 100vh;
  background-image: url("/images/bulletin-board-bg.jpg");
  position: fixed;
  left: -60px;
  top: 0;
  z-index: 5;
  padding: 48px 16px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
body main aside button.switch {
  aspect-ratio: 4.37/1;
  width: 200px;
  background-color: transparent;
  background-image: url("../images/label_yellow.png");
  filter: drop-shadow(1px 1px 2px gray);
  background-size: contain;
  border: none;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  margin-left: 10px;
}
body main aside button.switch:hover {
  filter: drop-shadow(1px 1px 2px gray) brightness(89%);
}
body main aside button.switch span {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
  width: 65%;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
body main aside button.switch span .close {
  display: none;
}
body main aside ul {
  display: none;
}
body main aside.active {
  left: 0;
}
@media (max-width: 768px) {
  body main aside.active {
    position: fixed;
    left: 0px;
  }
}
body main aside.active button.switch {
  margin-left: 0;
}
body main aside.active button.switch span {
  justify-content: start;
}
body main aside.active button.switch span .open {
  display: none;
}
body main aside.active button.switch span .close {
  display: block;
  font-family: "seto";
  font-size: 24px;
}
body main aside.active button.switch span p {
  padding-left: 8px;
  color: #333;
  font-weight: 500;
}
body main aside.active ul {
  list-style-type: none;
  display: block;
}
body main aside.active ul li {
  margin-bottom: 24px;
}
body main aside.active ul li:hover {
  filter: brightness(89%);
}
body main aside.active ul li:nth-last-child(1) {
  margin-bottom: 0;
}
body main aside.active ul li a,
body main aside.active ul li button {
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(45deg, rgb(235, 245, 243), rgb(192, 223, 216));
  display: inline-block;
  padding: 4px 24px 4px 26px;
  font-family: "seto";
  font-size: 24px;
  word-break: keep-all;
  box-shadow: 2px 2px 3px gray;
  position: relative;
  clip-path: polygon(0% 0%, 94% 0, 100% 50%, 94% 100%, 0% 100%);
}
body main aside.active ul li a span.text-sm,
body main aside.active ul li button span.text-sm {
  font-size: 16px;
}
body main aside.active ul li a span.head,
body main aside.active ul li button span.head {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
body main aside.active ul li a::after,
body main aside.active ul li button::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 110%;
  height: 1px;
  background-color: rgb(139, 139, 139);
  bottom: 0;
  left: 0;
}
body main aside.active ul li button {
  border: none;
  outline: none;
  background-image: linear-gradient(45deg, rgb(255, 237, 237), rgb(250, 207, 207));
  cursor: pointer;
  color: #333;
}
body main aside.active ul li button span.num {
  color: rgb(189, 46, 46);
  font-weight: 800;
}
body main aside.active ul li button span.num.hidden {
  display: none;
}
body main aside.active ul.main-btn li:nth-child(2) {
  width: 240px;
}
body main aside.active ul.main-btn li:nth-child(3) a {
  transform: rotate(5deg);
  background-image: linear-gradient(45deg, rgb(240, 240, 209), rgb(221, 221, 185));
}
body main aside.active ul.like-list li {
  margin-bottom: 12px;
}
body main aside.active ul.like-list li a {
  background-image: linear-gradient(45deg, #ffffff, #e6e6e6);
  word-break: keep-all;
  font-size: 18px;
  width: -moz-fit-content !important;
  width: fit-content !important;
  white-space: nowrap;
}
body main aside.active ul.like-list li a:hover {
  filter: brightness(89%);
}
body main aside.active ul.like-list li:nth-child(8) {
  transform: rotate(-5deg);
}
body main .listBox {
  padding: 24px 20px 120px 80px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
body main .listBox.active {
  width: 100%;
}
@media (max-width: 768px) {
  body main .listBox.active {
    min-width: 100% !important;
    width: 100%;
  }
}
@media (max-width: 1400px) {
  body main .listBox {
    padding: 24px 20px 24px 80px;
  }
}
@media (max-width: 1200px) {
  body main .listBox {
    padding: 24px 16px 24px 68px;
  }
}
@media (max-width: 768px) {
  body main .listBox {
    padding: 24px 16px 24px 48px;
  }
}
@media (max-width: 576px) {
  body main .listBox {
    padding: 24px 8px 24px 24px;
  }
}
body main .listBox h2 {
  width: 100%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 28px;
  font-family: "seto";
  transform: rotate(-2deg);
  position: relative;
  transition: all 2s ease-in-out;
  font-weight: 500;
}
body main .listBox h2:nth-child(2) {
  transform: rotate(2deg);
}
body main .listBox h2 img.title-img {
  width: 120px;
}
body main .listBox p {
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
}
body main .listBox p.mb {
  margin-bottom: 48px;
  font-size: 24px;
}
@media (max-width: 576px) {
  body main .listBox p.mb {
    margin-bottom: 40px;
    font-size: 18px;
  }
}
body main .listBox .main-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
body main .listBox .main-box .card-wrapper {
  width: 33%;
  max-width: 33%;
  padding: 32px;
  margin-bottom: 60px;
}
body main .listBox .main-box .card-wrapper.hidden {
  display: none;
}
@media (max-width: 1400px) {
  body main .listBox .main-box .card-wrapper {
    width: 50%;
    max-width: 50%;
    padding: 32px 16px;
  }
}
@media (max-width: 820px) {
  body main .listBox .main-box .card-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 24px 0px;
  }
}
body main .listBox .main-box .card-wrapper .card {
  background: rgba(255, 255, 255, 0.7);
  padding: 19px 0px 24px;
  border-radius: 0 0 40px 0;
  width: 100%;
  box-shadow: 1px 1px 5px rgb(189, 189, 189);
  background-image: url("/images/22739902.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  height: 100%;
  z-index: 3;
}
body main .listBox .main-box .card-wrapper .card:hover {
  box-shadow: 0px 0px 6px rgb(236, 89, 79);
  z-index: 99;
}
body main .listBox .main-box .card-wrapper .card:hover h3 {
  box-shadow: 0px -1px 5px rgb(236, 89, 79);
}
body main .listBox .main-box .card-wrapper .card.active {
  box-shadow: -1px 1px 28px rgb(236, 89, 79);
}
body main .listBox .main-box .card-wrapper .card.active h3 {
  box-shadow: -1px -1px 12px rgb(236, 89, 79);
}
body main .listBox .main-box .card-wrapper .card h3 {
  position: absolute;
  text-align: start;
  font-size: 20px;
  color: rgb(233, 233, 233);
  background-color: rgb(65, 139, 127);
  padding: 4px 12px 4px 48px;
  border-radius: 24px 0 0 24px;
  top: 0px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  word-break: keep-all;
  font-weight: 500;
  z-index: 2;
  word-break: keep-all;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .listBox .main-box .card-wrapper .card h3 div.heart {
  width: 32px;
  height: 32px;
  background-color: white;
  -webkit-mask: url("/images/heart-svgrepo-com.png");
  mask: url("/images/heart-svgrepo-com.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: -44%;
  transform: translateX(-50%);
  background-color: #cccccc;
}
body main .listBox .main-box .card-wrapper .card h3 div.heart.active {
  background-color: rgb(214, 41, 41);
}
@keyframes pump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
body main .listBox .main-box .card-wrapper .card h3 span.circle {
  color: rgb(65, 139, 127);
  background-color: #fff;
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 8px 0 0 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  box-shadow: 0px 0px 1px gray;
  display: flex;
  justify-content: center;
  padding-left: 4px;
  align-items: center;
  font-weight: 800;
}
body main .listBox .main-box .card-wrapper .card .triangle {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 60px;
  height: 60px;
  background-color: rgb(230, 193, 195);
  transform: rotate(-45deg);
}
body main .listBox .main-box .card-wrapper .card .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body main .listBox .main-box .card-wrapper .card .top .img-box {
  width: 99.5%;
  aspect-ratio: 3/2;
  overflow: hidden;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
  position: relative;
}
body main .listBox .main-box .card-wrapper .card .top .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main .listBox .main-box .card-wrapper .card .top .img-box svg.lookup {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  filter: drop-shadow(1px 1px 10px rgb(255, 255, 255));
  animation: bounce 2s infinite alternate;
}
@keyframes bounce {
  0% {
    transform: translate(-50%, -40%);
  }
  100% {
    transform: translate(-50%, -60%);
  }
}
body main .listBox .main-box .card-wrapper .card .top .text-box {
  width: 100%;
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
body main .listBox .main-box .card-wrapper .card .top .text-box ul {
  width: 100%;
  align-self: flex-start;
  padding: 0px 24px 0 48px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: -30px;
}
body main .listBox .main-box .card-wrapper .card .top .text-box ul li {
  margin-bottom: 4px;
  font-size: 1.1rem;
  width: 50%;
  max-width: 50%;
}
body main .listBox .main-box .card-wrapper .card .top .text-box ul li:nth-child(1) {
  width: 100%;
  max-width: 100%;
  background-color: rgba(247, 218, 218, 0.555);
  box-shadow: 1px 1px 99px #333;
  padding: 4px 8px;
  font-weight: 600;
  color: rgb(124, 23, 28);
  clip-path: polygon(0% 0%, 94% 0, 100% 50%, 94% 100%, 0% 100%);
}
body main .listBox .main-box .card-wrapper .card .top .text-box ul li span {
  display: inline-block;
}
body main .listBox .main-box .card-wrapper .card .top .text-box ul li a {
  display: flex;
  align-items: center;
  gap: 4px;
}
body main .listBox .main-box .card-wrapper .card .top .text-box ul li a:hover {
  color: rgb(124, 23, 28);
}
body main .listBox .main-box .card-wrapper .card .top .text-box p {
  background-color: rgba(151, 219, 221, 0.459);
  border: 1px solid #eee;
  border-bottom: none;
  width: 100%;
  border-radius: 4px;
  padding: 12px 24px;
  margin: 0px;
  color: rgb(27, 27, 27);
  text-align: justify;
  line-height: 1.8rem;
  clip-path: polygon(100% 0, 100% 25%, 100% 89%, 50% 100%, 0 90%, 0 0);
}
body main .listBox .main-box .card-wrapper .card .top .text-box p a {
  color: rgb(161, 88, 88);
}
body main .listBox .main-box .card-wrapper .card .top .text-box p a:visited {
  color: rgb(161, 88, 88);
}
body main .listBox .main-box .card-wrapper .card .btn-box {
  width: 100%;
  padding: 8px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
  flex-wrap: wrap;
  transform: translateZ(20px);
}
body main .listBox .main-box .card-wrapper .card .btn-box .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}
body main .listBox .main-box .card-wrapper .card button {
  border: none;
  outline: none;
  background: transparent;
}
body main .listBox .main-box .card-wrapper .card button a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 8px 24px;
  gap: 8px;
  align-items: center;
  color: rgb(124, 23, 28);
  font-size: 1.2rem;
  position: relative;
  transition: 0.8s;
  overflow: hidden;
  background: white;
  border: 1px solid rgb(124, 23, 28);
  z-index: 3;
}
body main .listBox .main-box .card-wrapper .card button a svg.hover {
  display: none;
  opacity: 0;
  transition: 0.8s;
}
body main .listBox .main-box .card-wrapper .card button a svg.normal {
  display: block;
  opacity: 1;
  transition: 0.8s;
}
body main .listBox .main-box .card-wrapper .card button a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(148, 44, 47);
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
body main .listBox .main-box .card-wrapper .card button a:hover {
  color: white;
  background: transparent;
}
body main .listBox .main-box .card-wrapper .card button a:hover svg {
  filter: brightness(500%);
  transition: 0.5s;
}
body main .listBox .main-box .card-wrapper .card button a:hover svg.hover {
  display: block;
  opacity: 1;
}
body main .listBox .main-box .card-wrapper .card button a:hover svg.normal {
  display: none;
  opacity: 0;
}
body main .listBox .main-box .card-wrapper .card button a:hover::before {
  height: 180%;
  z-index: -1;
}
body main .listBox .main-box .card-wrapper .card button.copy-btn {
  padding: 4px 12px;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid rgb(126, 126, 126);
}
body main .listBox .main-box .card-wrapper .card button.copy-btn span.copied-text {
  color: rgb(126, 126, 126);
}
body main .listBox .main-box .card-wrapper .card button.copy-btn:hover {
  background-color: rgb(87, 87, 87);
}
body main .listBox .main-box .card-wrapper .card button.copy-btn:hover svg {
  filter: brightness(300%);
}
body main .listBox .main-box .card-wrapper .card button.copy-btn:hover span.copied-text {
  color: white;
}
body main .listBox .main-box .card-wrapper .card button.copy-btn.active {
  background-color: rgb(87, 87, 87);
}
body main .listBox .main-box .card-wrapper .card button.copy-btn.active svg {
  filter: brightness(300%);
}
body main .listBox .main-box .card-wrapper .card button.copy-btn.active span.copied-text {
  color: white;
}
body main .listBox .main-box .card-wrapper .card.color {
  background-image: url("/images/84642.png");
  background-position: 0 52px;
}
body main .listBox .main-box .card-wrapper .card.color:hover {
  box-shadow: 1px 1px 6px rgb(214, 212, 66);
}
body main .listBox .main-box .card-wrapper .card.color:hover h3 {
  box-shadow: 0px -1px 5px rgb(214, 212, 66);
}
body main .listBox .main-box .card-wrapper .card.color.active {
  box-shadow: 1px 1px 28px rgb(214, 212, 66);
}
body main .listBox .main-box .card-wrapper .card.color.active h3 {
  box-shadow: -1px -1px -12px rgb(214, 212, 66);
}
body main .listBox .main-box .card-wrapper .card.color h3 {
  background-color: rgb(187, 185, 88);
}
body main .listBox .main-box .card-wrapper .card.color h3 span.circle {
  color: rgb(187, 185, 88);
}
body main .listBox .main-box .card-wrapper .card.color .text-box p {
  background-color: rgba(187, 185, 88, 0.3);
}
body main .listBox .main-box .card-wrapper .card.color button a {
  color: rgb(187, 185, 88);
  border: 1px solid rgb(187, 185, 88);
}
body main .listBox .main-box .card-wrapper .card.color button a::before {
  background: rgb(187, 185, 88);
}
body main .listBox .main-box .card-wrapper .card.color button a:hover {
  color: white;
}
body main .listBox .contact-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px 12px;
  background-color: #cccccc;
  color: rgb(43, 43, 43);
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 24px;
  z-index: 3;
}
@media (max-width: 768px) {
  body main footer {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */